body {
  /* background: #f9f9f9; */
  background-image: url("../assets/reg_bg_min.jpg");
  background-size: 100%, 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registration-form {
  background: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  min-width: 520px;
  max-width: 520px;
  padding: 0 30px;
  box-sizing: border-box;
}

.registration-form h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
  padding-top: 20px;
  text-align: center;
}

.registration-form label {
  display: block;
  font-size: 16px;
  /* font-weight: 600; */
  margin-bottom: 5px;
  width: 90px;
}
.registration-form input[type='text']:disabled {
  color: rgb(170, 170, 170) !important;
  cursor: no-drop;
}

.registration-form input[type='text'],
.registration-form input[type='password'] {
  /* width: 100%; */
  flex: 1;
  padding: 12px 20px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.registration-form input[type='text']:focus,
.registration-form input[type='password']:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

.registration-form .form-group {
  margin-bottom: 40px;
  position: relative;
}
.registration-form .form-group .form-group-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registration-form .form-group .form-group-input .verification-img {
  margin-left: 10px;
  height: 42px;
}
.registration-form .form-group .form-account-tip {
  position: absolute;
  color: #e90000;
  top: -30px;
  left: 90px;
}
.registration-form .form-group .account-icon {
  position: absolute;
  right: 20px;
  top: 12px;
  width: 20px;
  cursor: pointer;
}
.registration-form .form-group .marbottom {
  height: 30px;
  position: relative;
  color: red;
  font-size: 14px;
}

.registration-form .form-group:last-child {
  margin-bottom: 0;
}

.registration-form .error-message {
  color: red;
  font-size: 14px;
  /* margin-top: 5px; */
  padding-left: 120px;
}


.registration-form .send-code-button {
  background-color: #BDCEFC;
  color: #fff;
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
}

.registration-form .send-code-button:hover {
  background-color: #3f89ec;
}
.registration-form .button-warp {
  width: 100%;
  text-align: center;
}
.registration-form .add-code-button {
  background: #BDCEFC;
  border-radius: 25px;
  width: 400px;
  color: #fff;
  border: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* margin-bottom: 20px; */
}

.registration-form .add-code-button:hover {
  background-color: #3f89ec;
}
.flex {
  display: flex;
  align-items: center;
}
.flex img {
  padding-left: 20px;
  float: right;
}
.error-message-warp {
  position: absolute;
  bottom: -23px;
  /* transform: translateY(50%); */
}


.toast {
  visibility: hidden;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  z-index: 100001;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
