.registration-success {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
  box-sizing: border-box;
}
.registration-success .success-top {
  background: #3d83f8;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.registration-success .success-middle {
  height: 150px;
  text-align: center;
  padding: 20px 0;
  text-align: 20px;
}
.registration-success .success-middle img {
  width: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.registration-success .success-middle .success-middle-message {
  font-size: 14px;
  margin-top: 10px;
}
.registration-success .success-middle .success-middle-message span {
  color: #e90;
}
.registration-success .success-bottom {
  height: 50px;
  background: #3d83f8;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.registration-success .success-bottom span {
  cursor: pointer;
}
.invitation-code {
  margin-left: 150px;
  width: 300px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.invitation-code .invitation-code-link a {
  display: inline-block;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #3f89ec;
}
.invitation-code .invitation-code-link a img {
  width: 15px;
  margin-left: 5px;
}
.invitation-code .invitation-code-button {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.invitation-code .invitation-code-button button {
  background-color: #BDCEFC;
  color: #fff;
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
}
.invitation-code .invitation-code-button button:hover {
  background-color: #3f89ec;
}
.invitation-button {
  display: flex;
  justify-content: flex-end;
}
.invitation-button button {
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
}
.invitation-button .invitation-button-handle {
  background-color: #3f89ec;
  color: #fff;
  border: none;
  margin-right: 20px;
}
.invitation-button .invitation-button-cancle {
  background-color: #fff;
  color: #3f89ec;
  border: 1px solid #3f89ec;
}
.registration-form-invitation .invitation-code-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.registration-form-invitation .invitation-code-link a {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #3f89ec;
}
.registration-form-invitation .invitation-code-link a img {
  width: 15px;
  margin-left: 5px;
}
.registration-form-invitation .form-code-invitation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.registration-form-invitation .form-code-invitation .code-invitation-button {
  background-color: #BDCEFC;
  color: #fff;
  border: none;
  width: 200px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.registration-form-invitation .form-code-invitation .code-invitation-button.active {
  background-color: #3f89ec;
}
