.registration-success {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
  box-sizing: border-box;
}
.registration-success .success-top {
  background: #3d83f8;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.registration-success .success-middle {
  height: 150px;
  text-align: center;
  padding: 20px 0;
  text-align: 20px;
}
.registration-success .success-middle img {
  width: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.registration-success .success-bottom {
  height: 50px;
  background: #3d83f8;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.registration-success .success-bottom span {
  cursor: pointer;
}
